<div class="row main">
  <div class="col-sm-12 col-md-6 col-lg-6 body1">
    <h2 class="header">Global Coronavirus information</h2>
    <div class="card global">
      <div class="card-body">
        <h5>Global</h5>
        <h3>Coronavirus cases</h3>
        <h2>{{allData?.cases|number}}</h2>
      </div>
    </div>
    <div class="card global">
      <div class="card-body">
        <h5>Global</h5>
        <h3>Deaths</h3>
        <h2>{{allData?.deaths|number}}</h2>
      </div>
    </div>
    <div class="card global">
      <div class="card-body">
        <h5>Global</h5>
        <h3>Recovered</h3>
        <h2>{{allData?.recovered|number}}</h2>
      </div>
    </div>


  </div>
  <div class="col-sm-12 col-md-6 col-lg-6 body2" *ngIf="allCountryData">
    <h2 class="header">Coronavirus by country</h2>
    <div class="form-group">
      <input type="text"
        class="form-control" [(ngModel)]="country" name="filter" id="" aria-describedby="helpId" placeholder="Search By country">
    </div>
    <div class="card" *ngFor="let item of allCountryData|filter:country">
      <div class="card-body">
        <h3>{{item?.country}}</h3>
        <p>Cases: {{item?.cases|number}} | Today: {{item?.todayCases|number}} | Active: {{item?.active|number}}</p>
        <p>Deaths: {{item?.deaths|number}} | Today: {{item?.todayDeaths|number}}</p>
        <p>Recovered: {{item?.recovered|number}} | Critical: {{item?.critical|number}}</p>
      </div>
    </div>
  </div>
</div>

<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>